@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&family=Poppins:ital,wght@0,400;1,300&family=Roboto:ital@1&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color:#000200;
}

/* Hide scroll bars */

body::-webkit-scrollbar, html::-webkit-scrollbar{
    display:none;
}

body, html{
    -ms-overflow-style:none;
    scrollbar-width:none;
}

.center{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

/* init page */
#initBackground{
    background-color:white;
    position:absolute;
    width:100%;
    height:100vh;
    display: flex;
    z-index: 3;
    transition: 2.5s ease;
}

#fadeInBackground{
    opacity:1;
    background-color:black;
    position:absolute;
    width:100%;
    height:100vh;
    display: flex;
    z-index: 2;
    transition: opacity 1s 0s; /* Change to 15s 3s */
}

#startButton{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:3;
    transition:500ms ease;
}

/* STARS */

#spaceBackground{
    background-color: #000000;
    position:relative;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.star{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    pointer-events: none;
    animation: animate 32s ease-in-out infinite,
                backgroundmove 64s linear infinite;
}

.star.star1{
    animation-delay:0s;
    background: url(./../images/star1.png);
}

.star.star2{
    animation-delay:-1s;
    background: url(./../images/star2.png);
}

.star.star3{
    animation-delay:-2s;
    background: url(./../images/star3.png);
}

.star.star4{
    animation-delay:-3s;
    background: url(./../images/star4.png);
}

.star.star5{
    animation-delay: -4s;
    background: url(./../images/star5.png);
}

.star.star6{
    animation-delay:-5s;
    background: url(./../images/star6.png);
}

.star.star7{
    animation-delay:-6s;
    background: url(./../images/star7.png);
}

.star.star8{
    animation-delay:-7s;
    background: url(./../images/star8.png);
}

@keyframes animate{
    0%, 20%, 40%, 60%, 80%, 100%{
        opacity: 0;
    }
    10%, 30%, 50%, 70%, 90%{
        opacity:1;
    }
}

@keyframes backgroundmove{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(2);
    }
}

/*content*/

#overlayDiv{
    position:absolute;
    background:linear-gradient(0deg, #010400 5%,  #00000000 95%);
    width:100%;
    height:100%;
    z-index: 1;
}

body, html{
    scroll-snap-type: proximity;
    scroll-snap-type: y proximity;
    scroll-snap-points-y:repeat(100vh);
    height:100vh;
}

#content{
    display:none;
    width:100%;
    height:100vh;
}

h2, h1{
    color:white;
}

h1{
    font-size:5rem;
}

.scroll{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    scroll-snap-align: start;
}

/*# sourceMappingURL=main.css.map */

/* Page 1 */

#page1{
    background:#010400;
}

#introGrid{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "image image info"
    "image image info";
    align-items:center;
    grid-gap:1rem;
}

#profileContainer{
    grid-area:header;
    display:flex;
    justify-self:flex-end;
    margin-right:15vw;
}

.name{
    margin-right:5vw;
}
#solarSystem{
    grid-area:image;
}

#info{
    grid-area:info;
}

#portaitImage{
    background: url(./../images/colorful-photo.jpg);
    border-radius:50%;
    height:15rem;
    width:15rem;
    background-size: cover;
    background-position: center;
}

#solarSystem{
    background:url(./../images/final-galaxy.gif);
    width:100%;
    height:100%;
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
}

/* Page 2 */

#page2{
    background-color:#161211;
}

#storyGrid{
    width:100vw;
    height:100vh;
    display:grid;
    grid-gap:1rem;
    grid-template-columns:1fr 2fr;
    grid-template-rows:1fr 3fr;
    grid-template-areas: 
    "games text"
    "games image";
}

#games{
    grid-area:games;
}

#story{
    grid-area:text;
    font-size:3rem;
}

#nebula{
    grid-area:image;
    background:url(./../images/final-star.gif);
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
}

#games{
    position:relative;
    display:flex;
}

#games span{
    position:relative;
    width:50px;
    height:50px;
    animation: icons 15s linear infinite;
    animation-duration: calc(120s / var(--i));
    
}

@keyframes icons{
    0%{
        transform:translateY(100vh);
    }
    100%{
        transform:translateY(-10vh);
    }
}


/* Page 3 */

#page3{
    align-items:flex-start;
    justify-content: flex-start;
    background-image:url(./../images/starry-background.jpg);
    background-position:center;
    background-size:cover;
}

#lightOverlay{
    background-color:rgb(0,0,0, .8);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#projectSolarSystem{
    transform:rotateX(75deg);
    box-sizing:border-box;
    transform-style:preserve-3d;
}

#sun{
    width:10vw;
    height:10vw;
    margin-top:calc(-10vw/2);
    margin-left:calc(-10vw/2);
    background-color: rgb(248, 244, 163);
    box-shadow:0 0 60px rgb(253, 203, 163), 0 0 98px rgb(184, 160, 26);
    z-index:9990;
    display:flex;
    justify-content: center;
    align-items: center;
    transform:rotateX(-90deg);
    transform-style: preserve-3d;
    box-sizing:border-box;
}

.orbit{
    position:absolute;
    border-radius:50%;
    transform-style:preserve-3d;
    top:50%;
    left:50%;
    border: 1px solid rgba(255, 255, 255, .2);
    vertical-align:baseline;
    animation: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    pointer-events: none;
}

#uranus{
    width:calc(90vw);
    height:calc(90vw);
    --orbit-duration: 32s;
    margin-top:calc(-90vw/2);
    margin-left:calc(-90vw/2);
}

#jupiter{
    width:calc(60vw);
    height:calc(60vw);
    --orbit-duration: 24s;
    margin-top:calc(-60vw/2);
    margin-left:calc(-60vw/2);
}

#mars{
    width:calc(40vw);
    height:calc(40vw);
    --orbit-duration: 16s;
    margin-top:calc(-40vw/2);
    margin-left:calc(-40vw/2);
}

#earth{
    width:calc(25vw);
    height:calc(25vw);
    --orbit-duration: 12s;
    margin-top:calc(-25vw/2);
    margin-left:calc(-25vw/2);
}

.planet-container{
    top:0;
    left:50%;
    position:absolute;
    width: 4em;
    height:4em;
    margin-top:-2em;
    margin-left:-2em;
    transform-style: preserve-3d;
    animation-name: correct;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    pointer-events: none;
}

#earth .planet-container, #earth.orbit, #earth .planet{
    animation-duration: 24s;
}

#mars .planet-container, #mars.orbit, #mars .planet{
    animation-duration: 27s;
}

#jupiter .planet-container, #jupiter.orbit, #jupiter .planet{
    animation-duration: 60s;
}

#uranus .planet-container, #uranus.orbit, #uranus .planet{
    animation-duration: 80s;
}

#earth .planet{
    background-image:url(./../images/earth.png);
    font-size:calc(100vw/55);
    animation-name:earth-shadow;
    --large-size: calc(100vw/25);
    --normal-size: calc(100vw/55);
}

#mars .planet{
    background-image:url(./../images/mars.png);
    font-size:calc(100vw/45);
    animation-name:mars-shadow;
    --large-size: calc(100vw/15);
    --normal-size:calc(100vw/45);
}

#jupiter .planet{
    background-image:url(./../images/jupiter.png);
    font-size:calc(100vw/20);
    animation-name:jupiter-shadow;
    --large-size: calc(100vw/5);
    --normal-size:calc(100vw/20);
}

#uranus .planet{
    background-image:url(./../images/uranus.png);
    font-size:calc(100vw/25);
    animation-name:uranus-shadow;
    --large-size: calc(100vw/3);
    --normal-size:calc(100vw/25);
}

.planet{
    top:50%;
    left:50%;
    width:2em;
    height:2em;
    margin-top:-1em;
    margin-left:-1em;
    position:absolute;
    z-index:1;
    border-radius:50%;
    transform-style: preserve-3d;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease;
    pointer-events: all;
}

@keyframes orbit{
    0%{
        transform:rotateZ(360deg);
    }
    100%{
        transform:rotateZ(0deg);
    }
}

@keyframes correct{
    0%{
        transform:rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    }
    100%{
        transform:rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
}

@keyframes earth-shadow{
    0% {
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
        /* TOP */ 
    }
    25% {
        box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.5);
        /* LEFT */ 
    }
    50% {
        box-shadow: inset 12px -10px 8px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ 
    }
    50.01% {
        box-shadow: inset -12px -10px 8px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ 
    }
    75% {
        box-shadow: inset -2px 0 1px rgba(0, 0, 0, 0.5);
        /* RIGHT */ 
    }
    100%{
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
        /* TOP */
    }
}

@keyframes mars-shadow{
    0% {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
        /* TOP */ 
    }
    25% {
        box-shadow: inset 3px 0 2px rgba(0, 0, 0, 0.5);
        /* LEFT */ 
    }
    50% {
        box-shadow: inset 16px -13px 12px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ 
    }
    50.01% {
        box-shadow: inset -16px -13px 12px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ 
    }
    75% {
        box-shadow: inset -3px 0 2px rgba(0, 0, 0, 0.5);
        /* RIGHT */ 
    }
    100%{
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
        /* TOP */
    }
}

@keyframes jupiter-shadow{
    0% {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
        /* TOP */ 
    }
    25% {
        box-shadow: inset 15px 0 10px rgba(0, 0, 0, 0.5);
        /* LEFT */ 
    }
    50% {
        box-shadow: inset 70px -60px 50px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ 
    }
    50.01% {
        box-shadow: inset -70px -60px 50px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ 
    }
    75% {
        box-shadow: inset -15px 0 10px rgba(0, 0, 0, 0.5);
        /* RIGHT */ 
    }
    100%{
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
        /* TOP */
    }
}

@keyframes uranus-shadow{
    0% {
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
        /* TOP */ 
    }
    25% {
        box-shadow: inset 14px 0 8px rgba(0, 0, 0, 0.5);
        /* LEFT */ 
    }
    50% {
        box-shadow: inset 54px -43px 39px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ 
    }
    50.01% {
        box-shadow: inset -54px -43px 39px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ 
    }
    75% {
        box-shadow: inset -14px 0 8px rgba(0, 0, 0, 0.5);
        /* RIGHT */ 
    }
    100%{
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
        /* TOP */
    }
}

/* PSUEDOCODE 
make 4 different orbits, in them there will be one planet
give them the class route to make them revolve */



/* Page 4 */

#contactGrid{
    margin:.5rem;
    width:100%;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "contact contact profile"
    "rocket form form"
    "rocket form form";
    justify-items: center;
    align-items:center;
}

#contact{
    grid-area:contact;
}

#portraitImage2{
    grid-area:profile;
    background:url(./../images/profile-picture-with-background.png);
    background-size:cover;
    background-position: center;
    width:250px;
    height:250px;
    border-radius:50%;
    padding:1rem;
}

#gitHubRocket{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    grid-area:rocket;
    padding:1rem;
    align-items: center;
    justify-content: space-evenly;
}

#launchButton{
    padding:.5rem;
    background-color:rgb(28, 118, 192);
    color:white;
    border-radius: .5rem;;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width:60%;
    font-size:2rem;
}

#rocket{
    position:relative;
    width:100%;
    z-index:1;
}

#contactForm{
    grid-area:form;
}
